.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db

/.sass-cache/
/.jekyll-cache/
/.jekyll-metadata
/.bundle/
/.vendor/
/_site/

/.ruby-version
.idea/
.vscode/
*.swp
*.swo
