<ul class="bd clearfix">
    <li class="team clearfix {% if active == "team" %}now{% endif %}">
        <a href="/team">
            <div class="circle circle1" title="团队介绍"></div>
            <div class="hover-wrap"></div>
            <div class="title">
                <p class="en">Team Introduction</p>
                <p class="ch">团队介绍</p>
            </div>
        </a>
    </li>

    <li class="group clearfix {% if active == "group" %}now{% endif %}">
        <a href="/group">
            <div class="circle circle2" title="各组介绍"></div>
            <div class="hover-wrap"></div>
            <div class="title">
                <p class="en">Group Introduction</p>
                <p class="ch">各组介绍</p>
            </div>
        </a>
    </li>

    <li class="pro clearfix {% if active == "works" %}now{% endif %}">
        <a href="/works">
            <div class="circle circle3" title="陈列室"></div>
            <div class="hover-wrap"></div>
            <div class="title">
                <p class="en">Portfolio</p>
                <p class="ch">陈列室</p>
            </div>
        </a>
    </li>

    <li class="part clearfix {% if active == "partner" %}now{% endif %}">
        <a href="/partner">
            <div class="circle circle4" title="成员风采"></div>
            <div class="hover-wrap"></div>
            <div class="title">
                <p class="en">Our Partner</p>
                <p class="ch">成员风采</p>
            </div>
        </a>
    </li>

    <li class="re clearfix">
        <a href="http://hr.bingyan.net/" target="_blank">
            <div class="circle circle5" title="历届招新"></div>
            <div class="hover-wrap"></div>
            <div class="title">
                <p class="en">Recruit</p>
                <p class="ch">历届招新</p>
            </div>
        </a>
    </li>
</ul>